<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.enrol.common.dao.goods.GoodsHotMapper">

	<!--实体映射 -->
	<resultMap id="EnrolGoodsHotResultMap" type="com.itcast.enrol.common.entity.GoodsHot">
		<!--主键Id -->
		<id property="id" column="主键Id" />
		<!-- 商品id -->
		<result property="goodsId" column="goods_id" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, goods_id
	</sql>

	<!-- 统计热门课程 -->
	<select id="countGoodsHot" resultType="java.util.Map">
		SELECT
		goods.id AS goodsId,
		SUM(cla.current) currentNum

		FROM enrol_class cla,enrol_goods_class gc,enrol_goods goods
		WHERE cla.`status`=1 AND cla.is_del=0 AND goods.`status`=1 AND goods.is_del=0 AND cla.id=gc.class_id AND gc.goods_id=goods.id

		GROUP BY gc.goods_id
		ORDER BY currentNum DESC LIMIT 1,3
	</select>

	<!-- 查询热门课程 -->
	<select id="selectGHList" resultType="java.util.Map">
		SELECT
		gh.id,
		gh.goods_id AS goodsId,
		goods.goods_no AS goodsNo,
		goods.`name`,
		goods.price,
		goods.cover_img_url AS coverImg,
		goods.synopsis,
		goods.detail,
		sum(cla.current) AS currentNum,
		goods.is_free AS isFree,
		goods.is_other_expense AS isOtherExpense,
		goods.other_expense AS otherExpense,
		goods.other_expense_remark AS otherExpenseRemark,
		cla.campus_id AS campusId,
		cla.subject_id AS subjectId,
		cla.class_type_code AS classTypeCode,
		cla.teach_mode_code AS teachModeCode,
		cla.start_date AS startDate
		
		FROM enrol_goods_hot gh,enrol_goods goods,enrol_class
		cla,enrol_goods_class gc
		WHERE 
		gh.goods_id=goods.id AND goods.id=gc.goods_id 
		AND cla.id=gc.class_id AND goods.`status`=1 
		AND goods.is_del=0 AND cla.`status`=1 
		AND cla.is_del=0
		GROUP BY gh.goods_id
		ORDER BY gh.id
	</select>
	
	<insert id="insertData" parameterType="com.itcast.enrol.common.entity.GoodsHot">
		INSERT INTO enrol_goods_hot(goods_id) values(#{goodsId})
	</insert>

</mapper>